<!--start-news-->
	<div class="news">
		<div class="container">
			<div class="news-main">
				<h3>Latest News</h3>
				<div class="news-text">
					<div class="col-md-4 news-text-left">
						<div class="news-left">
							<h5>23</h5>
							<p>Sep</p>
						</div>
						<div class="news-right">
							<h4>Phasellus laoreet lorem nec</h4>
							<p>Aenean ac urna ut neque semper maximus at et ligula. Aliquamex risus, pretiu sed pharetra efficitur sit amet ligula. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 news-text-left">
						<div class="news-left">
							<h5>17</h5>
							<p>Dec</p>
						</div>
						<div class="news-right">
							<h4>Phasellus laoreet lorem nec</h4>
							<p>Aenean ac urna ut neque semper maximus at et ligula. Aliquamex risus, pretiu sed pharetra efficitur sit amet ligula. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 news-text-left">
						<div class="news-left">
							<h5>13</h5>
							<p>Dec</p>
						</div>
						<div class="news-right">
							<h4>Phasellus laoreet lorem nec</h4>
							<p>Aenean ac urna ut neque semper maximus at et ligula. Aliquamex risus, pretiu sed pharetra efficitur sit amet ligula. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="news-text">
					<div class="col-md-4 news-text-left">
						<div class="news-left">
							<h5>04</h5>
							<p>Dec</p>
						</div>
						<div class="news-right">
							<h4>Phasellus laoreet lorem nec</h4>
							<p>Aenean ac urna ut neque semper maximus at et ligula. Aliquamex risus, pretiu sed pharetra efficitur sit amet ligula. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 news-text-left">
						<div class="news-left">
							<h5>15</h5>
							<p>Sep</p>
						</div>
						<div class="news-right">
							<h4>Phasellus laoreet lorem nec</h4>
							<p>Aenean ac urna ut neque semper maximus at et ligula. Aliquamex risus, pretiu sed pharetra efficitur sit amet ligula. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 news-text-left">
						<div class="news-left">
							<h5>20</h5>
							<p>Dec</p>
						</div>
						<div class="news-right">
							<h4>Phasellus laoreet lorem nec</h4>
							<p>Aenean ac urna ut neque semper maximus at et ligula. Aliquamex risus, pretiu sed pharetra efficitur sit amet ligula. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--end-news-->