	<!-- Portfolio Starts Here -->
	<div class="portfolios" id="portfolio">
		<div class="container">
			<h3 class="top-head w_hd">Courses</h3>
			<span class="line w_l_1">
				<span class="sub-line w_l_1"></span>
			</span>
			<ul id="filters" class="clearfix">
						<li><span class="filter active" data-filter="app card icon logo web">All</span></li>
						<li><span class="filter" data-filter="app">Category 1</span></li>
						<li><span class="filter" data-filter="card">Category 2</span></li>
						<li><span class="filter" data-filter="icon">Category 3</span></li>
						<li><span class="filter" data-filter="logos">Category 4</span></li>
					</ul>
					<div id="portfoliolist">
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						    <div class="port-1">
						    	<h5>HINDI LANGUAGE</h5>
						    	<p>which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.Eum cu tantas legere complectitur, hinc utamur ea eam.</p>
						    	<div class="port-bttn">
						    		<a href="#">Read More</a>
						    	</div>
						    </div>
						     <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
						  		</div></a>
		                </div>
					</div>				
					<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <div class="port-1">
						    	<h5>ARABIC LANGUAGE</h5>
						    	<p>which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.Eum cu tantas legere complectitur, hinc utamur ea eam.</p>
						    	<div class="port-bttn">
						    		<a href="#">Read More</a>
						    	</div>
						    </div>
						     <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
						  	 </div></a>
		                </div>
					</div>		
					<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						    <div class="port-1">
						    	<h5>BENGALI LANGUAGE</h5>
						    	<p>which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.Eum cu tantas legere complectitur, hinc utamur ea eam.</p>
						    	<div class="port-bttn">
						    		<a href="#">Read More</a>
						    	</div>
						    </div>
						     <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
						  	 </div></a>
		                </div>
					</div>				
					<div class="portfolio logos mix_all" data-cat="logo" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <div class="port-1">
						    	<h5>ENGLISH LANGUAGE</h5>
						    	<p>which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.Eum cu tantas legere complectitur, hinc utamur ea eam.</p>
						    	<div class="port-bttn">
						    		<a href="#">Read More</a>
						    	</div>
						    </div>
						     <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
						  	 </div></a>
		                </div>
					</div>	
					<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <div class="port-1">
						    	<h5>CHINESE LANGUAGE</h5>
						    	<p>which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.Eum cu tantas legere complectitur, hinc utamur ea eam.</p>
						    	<div class="port-bttn">
						    		<a href="#">Read More</a>
						    	</div>
						    </div>
						     <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
						  	 </div></a>
		                </div>
					</div>			
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <div class="port-1">
						    	<h5>JAPANESE LANGUAGE</h5>
						    	<p>which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.Eum cu tantas legere complectitur, hinc utamur ea eam.</p>
						    	<div class="port-bttn">
						    		<a href="#">Read More</a>
						    	</div>
						    </div>
						     <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
						  	 </div></a>
		                </div>
					</div>	
					<div class="portfolio logos mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <div class="port-1">
						    	<h5>FRENCH LANGUAGE</h5>
						    	<p>which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.Eum cu tantas legere complectitur, hinc utamur ea eam.</p>
						    	<div class="port-bttn">
						    		<a href="#">Read More</a>
						    	</div>
						    </div>
						     <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
						  	 </div></a>
		                </div>
					</div>
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <div class="port-1">
						    	<h5>NEPALI LANGUAGE</h5>
						    	<p>which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.Eum cu tantas legere complectitur, hinc utamur ea eam.</p>
						    	<div class="port-bttn">
						    		<a href="#">Read More</a>
						    	</div>
						    </div>
						     <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
						  	 </div></a>
		                </div>
					</div>
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">		
							<a href="index.html" class="b-link-stripe b-animate-go  thickbox">
						     <div class="port-1">
						    	<h5>TELUGU LANGUAGE</h5>
						    	<p>which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.Eum cu tantas legere complectitur, hinc utamur ea eam.</p>
						    	<div class="port-bttn">
						    		<a href="#">Read More</a>
						    	</div>
						    </div>
						     <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
						  	 </div></a>
		                </div>
					</div>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
	<!-- Portfolio Ends Here -->