<!--start-welcome-->
	<div class="welcome">
		<div class="container">
			<div class="welcome-main">
				<div class="col-md-6 welcome-left">
					<h1>Welcome</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices nibh in arcu venenatis, non imperdiet quam mattis. Duis rutrum nulla velit, eu luctus magna rhoncus quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam non elit eget arcu sollicitudin maximus Maecenas aliquet nec tellus ut auctor. Pellentesque habitant morbi tristique senectus.</p>
					<div class="tool">
						<a class="tooltips" href="#">
							<span>Read More</span></a>
					</div>
				</div>
				<div class="col-md-6 welcome-right">
					<iframe src="//player.vimeo.com/video/17885101" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>