<% provide(:title, "About") %>
	<%= render 'shared/header' %>
	<!--start-about-->
	<div class="about">
		<div class="container">
			<div class="about-main">
				<h3>A Few Words About Us</h3>
				<h5>Uspendisse laoreet nibh ac cursus vestibulum. Vestibulum eu arcu at justo tristique malesuada. Aliquam erat volutpat. Vivamus condimentum feugiat magna</h5>
				<p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orc i ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
				<div class="about-text">
					<div class="col-md-4 about-text-left">
						<img src="images/st-1.jpg" alt="">
						<h5>What We Do</h5>
						<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et dignissim augue, et sagittis turpis. Vestibulum congue turpis ac tincidunt accumsan.</p>
						<div class="tool">
							<a class="tooltips" href="#">
							<span>Read More</span></a>
						</div>
					</div>
					<div class="col-md-4 about-text-left">
						<img src="images/st-2.jpg" alt="">
						<h5>Our Capabilities</h5>
						<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et dignissim augue, et sagittis turpis. Vestibulum congue turpis ac tincidunt accumsan.</p>
						<div class="tool">
							<a class="tooltips" href="#">
							<span>Read More</span></a>
						</div>
					</div>
					<div class="col-md-4 about-text-left">
						<img src="images/st-4.jpg" alt="">
						<h5>Our Standards</h5>
						<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et dignissim augue, et sagittis turpis. Vestibulum congue turpis ac tincidunt accumsan.</p>
						<div class="tool">
							<a class="tooltips" href="#">
							<span>Read More</span></a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--end-about-->
	<%= render 'shared/vision' %>
	<%= render 'shared/footer' %>