<% provide(:title, "Home") %>
	<%= render 'shared/header' %>
	<%= render 'shared/welcome' %>
	<%= render 'shared/news' %>
	<div class="staff">
		<div class="container">
			<div class="staff-text">
				<h3>Our staff</h3>
				<div class="staff-main">
					<div class="col-md-5 staff-main-left">
						<h5>Uspendisse laoreet nibh ac cursus vestibulum. Vestibulum eu arcu at justo tristique malesuada.</h5>
						<P>Aenean ac urna ut neque semper maximus at et ligula. Aliquamex risus, pretiu sed pharetra efficitur sit amet ligula. urna ut neque semper maximus at et ligula urna ut neque</P>
						<h4>Pofessor Details</h4>
						<h5 class="s1">Shane mack</h5>
						<p>Aenean ac urna ut neque semper maximus at et ligula. Aliquamex risus, pretiu sed pharetra efficitur sit amet ligula. </p>
						<h5 class="s1">Marry jain</h5>
						<p>Aenean ac urna ut neque semper maximus at et ligula. Aliquamex risus, pretiu sed pharetra efficitur sit amet ligula. </p>
						<div class="tool">
						<a class="tooltips" href="#">
							<span>Read More</span></a>
						</div>
					</div>
					<div class="col-md-7 events-col">
				<div id="ca-container" class="ca-container"><div class="ca-nav"><span class="ca-nav-prev">Previous</span><span class="ca-nav-next">Next</span></div>
				    <div class="ca-wrapper" style="overflow: hidden;">
				         
						<div class="ca-item ca-item-2" style="position: absolute; left: 0px;">
							<div class="ca-item-main">
								<div class="ca-icon">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div>  
								</div>
								<div class="ca-icon2">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div> 
								 </div>
							</div>
						</div>
						<div class="ca-item ca-item-3" style="position: absolute; left: 225px;">
							<div class="ca-item-main">
								<div class="ca-icon">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div> 
								 </div>
								<div class="ca-icon3">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div> 
								 </div>
							</div>
						</div>
						<div class="ca-item ca-item-4" style="position: absolute; left: 450px;">
							<div class="ca-item-main">
								<div class="ca-icon"> 
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div> 	
								</div>
								<div class="ca-icon4">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div> 
							  	</div>
						     </div>
						</div>
						<div class="ca-item ca-item-5" style="position: absolute; left: 675px;">
							<div class="ca-item-main">
								<div class="ca-icon">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div> 
								 </div>
								<div class="ca-icon5">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div> 
								 </div>
							</div>
						</div>
						<div class="ca-item ca-item-6" style="position: absolute; left: 900px;">
							<div class="ca-item-main">
								<div class="ca-icon">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div>  
								</div>
								<div class="ca-icon6">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div>  
								</div>
							</div>
						</div>
						<div class="ca-item ca-item-7" style="position: absolute; left: 1125px;">
							<div class="ca-item-main">
								<div class="ca-icon">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div>  
								</div>
								<div class="ca-icon7">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div> 
								 </div>
							</div>
						</div>
						<div class="ca-item ca-item-8" style="position: absolute; left: 1350px;">
							<div class="ca-item-main">
								<div class="ca-icon">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div>  
								</div>
								<div class="ca-icon">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div>  
								</div>
							</div>
						</div>
			    <div class="ca-item ca-item-1" style="position: absolute; left: 1575px;">
						   <div class="ca-item-main">
								<div class="ca-icon">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div> 
								</div>
								<div class="ca-icon1">
									<div class="caption">
										<p>Marry &amp; jain<br>professor</p>
									</div> 
								 </div>
							</div>
						  </div></div>
					<script type="text/javascript">
			$('#ca-container').contentcarousel();
		</script>
			</div>
		</div>
   					<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	<%= render 'shared/footer' %>
